<footer>
  <div class="wrapper">
    <section class="footer-content">
      <div class="footer-link">
        <h4>ABOUT US</h4>
        <a href="">About Us</a>
        <a href="">Affiliate</a>
        <a href="">Fashion Blogger</a>
      </div>
      <div class="footer-link">
        <h4>HELP & SUPPORT</h4>
        <a href="">Shipping info</a>
        <a href="">Affiliate</a>
        <a href="">Fashion Blogger</a>
      </div>
      <div class="footer-link">
        <h4>CUSTOMER CARE</h4>
        <a href="">Contact Us</a>
        <a href="">Payment Methods</a>
        <a href="">Bonus Point</a>
      </div>
    </section>
    <section class="social-links">
      <a href=""><img src="images/facebook-icon.png" alt=""></a>
      <a href=""><img src="images/instagram-icon.png" alt=""></a>
      <a href=""><img src="images/youtube-icon.png" alt=""></a>
      <a href=""><img src="images/twitter-icon.png" alt=""></a>
    </section>
  </div>
</footer>