
<nav class="navbar">
  <div class="navbar-left">
    <h4 class="logo">MAJOR</h4>
    <p>Shoes</p>
    <p>Clothing</p>
    <p>Lookbook</p>
  </div>
  <div class="navbar-right">
    <a href=""><img src="/images/cart-icon.png" alt=""></a>
    <%if (user) { %>
      <a href="/logout">Log Out</a>
    <%} else { %>
      <a href="/major/auth/google"><img src="/images/login-user-icon.png" alt=""></a>
    <%} %>
    
    <a href=""><img src="/images/like-icon.png" alt=""></a>
  </div>
</nav>