<nav>
  <div class="wrapper wrap-nav">
    <div class="nav-item">
      <h4 class="logo">MAJOR</h4>
      <a href="/products/sneakers"><p>Shoes</p></a>
      <a href=""><p>Clothing</p></a>
    </div>
    <div class="nav-item">
      <a href="/products/cart"><img src="/images/cart-icon.png" alt=""></a>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Log In</a>
      <% } %>
      <a href="/shopper"><img src="/images/login-user-icon.png" alt=""></a>
    </div>
  </div>
</nav>
