<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAJOR</title>
</head>
<body>
  <nav>
    <div class="nav-left">
      <h4>MAJOR</h4>
      <p>Shoes</p>
      <p>Clothing</p>
      <p>Lookbook</p>
    </div>
    <div class="nav-right">
      <a><img src="/images/cart-icon.png" alt=""></a>
      <a><img src="/images/login-user-icon.png" alt=""></a>
      <a><img src="/images/like-icon.png" alt=""></a>
    </div>
  </nav>
</body>
</html>