<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAJOR</title>
</head>
<body>
  <%- include ('../partials/nav') %>
<section class="hero">
  <div class="wrapper">
    <div class="hero-img"><img src="/images/hero-img.png" alt=""></div>
    <h1 class="hero-title">Great Sport</h1>
    <a href="" class="cta-btn-white">SHOP THE TREND</a>
  </div>
</section>
<section class="products">
  <div class="wrapper">
    <h2 class="product-title">Pair your sporty separates with your favorite sneaker</h2>
    <div class="product-gallery">
      <div class="product-gallery-item"><img src="" alt=""></div>
    </div>
    <a href="" class="cta-btn-black">View All</a>
  </div>
</section>
<%- include ('../partials/footer') %>

</body>
</html>